<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title ng-bind="title">AppVeyor</title>
    <link id="favicon" rel="shortcut icon" href="https://dbatools.io/assets/images/favicon-blue.ico">

    <link rel="stylesheet" href="https://dbatools.io/dist/bundle-bd478c1e9e.css">


    
</head>
<body>
    <div id="app-loader" class="spinner tall">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>

    
    <div class="fixed contain-to-grid">
        <nav class="top-bar" data-topbar init-foundation data-options="is_hover: false">
            <ul class="title-area" ng-cloak>
                <li class="name">
                    <h1 ng-if="!Session.isAuthenticated()"><a class="collapse-only">AppVeyor</a></h1>
                    <h1 class="show-for-small-only" ng-if="!Session.isAuthenticated() || !Session.account().isEnterprisePlan"><a class="collapse-only" href="https://dbatools.io/">AppVeyor</a></h1>
                    <h1 class="show-for-small-only" ng-if="Session.isAuthenticated() &amp;&amp; Session.account().isEnterprisePlan"><a class="collapse-only" href="https://dbatools.io/server-license">AppVeyor</a></h1>
                </li>
                <li class="toggle-topbar menu-icon"><a href=""><span></span></a></li>
            </ul>
            <section class="top-bar-section">
                
                <ul class="left" ng-cloak>
                    <li class="has-dropdown" ng-if="Session.isAuthenticated() &amp;&amp; Session.getSwitchAccounts().length &gt; 0" ng-cloak>
                        <a class="no-collapse selected-account" title="You are working with this account">
                            {{Session.account().name}}
                        </a>
                        <ul class="dropdown">
                            <li ng-repeat="account in Session.getSwitchAccounts()">
                                <a class="switch-account" ng-click="Session.switchAccount(account.name)">{{account.name}}</a>
                            </li>
                        </ul>
                    </li>
                    <li ng-if="Session.isAuthenticated() &amp;&amp; Session.getSwitchAccounts().length == 0">
                        <a ng-if="!Session.account().isEnterprisePlan" class="selected-account" href="%7B%7BSession.getAccountBaseUrl()%7D%7D/projects">{{Session.account().name}}</a>
                        <a ng-if="Session.account().isEnterprisePlan" class="selected-account" href="%7B%7BSession.getAccountBaseUrl()%7D%7D/server-license">{{Session.account().name}}</a>
                    </li>
                    <li ng-if="Session.isAuthenticated() &amp;&amp; Session.account().isEnterprisePlan"><a href="%7B%7BSession.getAccountBaseUrl()%7D%7D/server-license">License</a></li>
                    <li ng-if="Session.isAuthenticated() &amp;&amp; !Session.account().isEnterprisePlan"><a href="%7B%7BSession.getAccountBaseUrl()%7D%7D/projects">Projects</a></li>
                    <li ng-if="Session.isAuthenticated() &amp;&amp; !Session.account().isEnterprisePlan"><a href="%7B%7BSession.getAccountBaseUrl()%7D%7D/environments">Environments</a></li>
                    <li ng-if="Session.isAuthenticated() &amp;&amp; !Session.account().isEnterprisePlan &amp;&amp; !Session.hasPermission('ConfigureSystemSettings')"><a href="%7B%7BSession.getAccountBaseUrl()%20?%20Session.getAccountBaseUrl()%20+%20'/build-clouds'%20:%20'/build-clouds'%7D%7D">BYOC</a></li>
                    <li ng-if="Session.isAuthenticated()"><a href="%7B%7BSession.getAccountBaseUrl()%20?%20Session.getAccountBaseUrl()%20+%20'/settings'%20:%20'/account'%7D%7D">Account</a></li>
                    <li class="has-dropdown" ng-if="Session.isAuthenticated() &amp;&amp; Session.hasPermission('ConfigureSystemSettings')" ng-cloak>
                        <a class="no-collapse">
                            System
                        </a>
                        <ul class="dropdown">
                            <li><a href="https://dbatools.io/system/accounts">Accounts</a></li>
                            <li ng-if="!SystemSettings.onPremise"><a href="https://dbatools.io/newsletters">Newsletters</a></li>
                            <li><a href="%7B%7BSession.getAccountBaseUrl()%20?%20Session.getAccountBaseUrl()%20+%20'/build-clouds'%20:%20'/build-clouds'%7D%7D">Build environment</a></li>
                            <li><a href="https://dbatools.io/system/settings">System settings</a></li>
                        </ul>
                    </li>
                </ul>

                
                <ul class="right" ng-cloak>

                    <li><a href="https://dbatools.io/login" ng-if="!Session.isAuthenticated()" ng-cloak>Sign in</a></li>
                    
                        <li class="has-dropdown" ng-if="Session.isAuthenticated()" ng-cloak>
                            <a class="no-collapse">
                                Support
                            </a>
                            <ul class="dropdown">
                                <li ng-if="!Session.account().isEnterprisePlan"><a href="https://www.appveyor.com/docs/" target="_blank">Documentation</a></li>
                                <li ng-if="Session.account().isEnterprisePlan"><a href="https://www.appveyor.com/docs/server/" target="_blank">Documentation</a></li>
                                <li><a href="https://help.appveyor.com/" target="_blank">Submit ticket</a></li>
                                <li><a href="mailto:support@appveyor.com">Email us</a></li>
                                <li><a href="https://www.appveyor.com/updates/" target="_blank">Platform updates</a></li>
                                <li><a href="https://status.appveyor.com/" target="_blank">System status</a></li>
                            </ul>
                        </li>
                    <li class="has-dropdown" ng-if="Session.isAuthenticated()" ng-cloak>
                        <a class="active-user no-collapse" title="Signed in as">
                            <img src="https://www.gravatar.com/avatar/%7B%7BSession.user().gravatarHash%7D%7D?d=https%3a%2f%2fci.appveyor.com%2fassets%2fimages%2fuser.png&amp;s=40" width="20" height="20">
                            {{Session.user().fullName}}
                        </a>
                        <ul class="dropdown">
                            <li>
                                <label>{{Session.user().email}}</label>
                            </li>
                            <li><a href="https://dbatools.io/profile">My profile</a></li>
                            <li class="divider">
                            <li><a ng-click="Session.logout()">Sign out</a></li>
                        </ul>
                    </li>
                </ul>
            </section>
        </nav>
    </div>

    
    <div class="busy-header" ng-if="Page.busy()" ng-cloak></div>

    <ng-include src="'/app/views/include/home-trial-period-expires.html'" ng-if="Session.trialExpires() !== null" ng-cloak></ng-include>

    <ng-include src="'/app/views/include/home-unpaid-account.html'" ng-if="Session.account().unpaid" ng-cloak></ng-include>

    <ng-include src="'/app/views/include/home-unverified-account.html'" ng-if="Session.account().unverified" ng-cloak></ng-include>

    <div ng-view></div>

    <script src="https://dbatools.io/dist/app-26872d639b.min.js"></script>


        <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <script src="https://dbatools.io/signalr/hubs"></script>
    <script>
        var analyticsTrackingId = "";
        var recaptchaPublicKey = "6LfsXhgUAAAAAJzEJ9ZpnKQlkkPD-kiErGOWaRol";
    </script>
        <script>
        Stripe.setPublishableKey("pk_live_ocExFvIl1PhmY5lbVMtWyZlJ");
        </script>
</body>
</html>
